# Служебные дампы и бэкапы
*.RAS.json
https://github.com/prodilitant-dev/RASgovorilka.RAS.json
.1RAS.json
*.RAS.zip
RAS.json
import_collect_bot_files.py

# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Логи
debug.log
*.log